img{
        height: 200px;
        width: 200px;
        display: inline;
}
figcaption{
        display: inline;
        color: aqua;
        
}
a{
        color: chartreuse;
        text-decoration: none;
}
table{
        border-color: black;
        border-style: solid;
        background-color: gray;
}
th{
        text-align: left;
        background-color: aqua;
}
td{
        padding: 5px;
        background-color: teal;
}
#head{
        background-color: cadetblue;
        text-align: center;
}
#row{
        background-color: aquamarine;
        text-align: center;
}