*
{
        margin: 0;
        border: 0;
        box-sizing: border-box;
}
body
{
        background-color:hwb(0 0% 100%);
}
header,header h1
{
        text-align: center;
        text-decoration:underline;
        color:white;
}
hr{
        width: 100%;
        height: 3px;
        background-color:white;
        
}
.score-label
{
        justify-content: center;
        width: 100%;
        display: flex;
}
.label
{
        display: inline-block;
        font-size: 80px;
        padding: 10px;
        color: white;
}
#hrr,#hr
{
        width: 100%;
        height: 60px;
        background-color: black;
}

div
{
        text-align: center;
        display: inline;
}
.choices
{
        display: block;
}

p
{
        display: inline;
        color:white;
}
img
{
        display: inline;
        padding: 0px 30px;
}
#result
{
        font-size: 60px;
        color: brown;
        font-family: sans-serif;
        
}
