*
{
        margin: 0;
        border: 0;
        box-sizing: border-box;
}
#par{
        color: aqua;
        font-size: large;
        font-family: Arial;
        font-style:bold:
}
.para
{
        color: blue;
}
a{
        font-size: large;
}